.scrolldicator-up, .scrolldicator-down {
    position:fixed;
    height:1em;
    width:auto;
    left:auto;
    font-family: Helvetica, Arial, sans-serif;
    color:#fff;
    padding:0.2em;
    border:0;
}

.scrolldicator-up {
    bottom:auto;
    background: #080;
}

.scrolldicator-up:before {
    content: '▲ ';
}

.scrolldicator-down {
    top:auto;
    background: #f00;
}

.scrolldicator-down:before {
    content: '▼ ';
}

.scrolldicator-beacon {
    height:0;
    width:0;
    margin:0;
    padding:0;
    border:0;
    position:static;
}
