.scrollbar-track {
	position: absolute;
	top: 0;
	height: 100%;
	width: 10px;
	background-color: transparent;
	cursor: move;
}

.scrollbar-handle {
    position: relative;
    top: 1%;
    height: 98%;
    width: 10px;
}

.scrollbar-handle .bg {
	position: absolute;
	width: 1px;
	background-color: #444;
	right: 50%;
	height: 90%;
	top: 5%;
}

.scrollbar-handle .bar {
	position: absolute;
	height:70%;
	top: 15%;
	width: 10px;
	background-color: #444;
	cursor: 'move';
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.scrollbar-content-container {
	position:relative;
	margin:0;
	padding:0;
}